<!-- Entire FOOTER START -->
<footer class="entire_footer">
    <!-- FOOTER-TOP-AREA -->
    <div class="footer_top_area  footer-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="top-border"></div>
                </div>
                <div class="col-sm-4 col-sm-4 col-xs-12">
                    <div class="footer_top_single">
                        <i class="fa fa-plane"></i>
                        <h4>Free Shipping on order over $1000</h4>
                        <p>It's time to meet the Muppets on the Muppet Show tonight. And we know Flipper.</p>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-4 col-xs-12">
                    <div class="footer_top_single">
                        <i class="fa fa-gift"></i>
                        <h4>unlimited gifts on every order</h4>
                        <p>It's time to meet the Muppets on the Muppet Show tonight. And we know Flipper.</p>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-4 col-xs-12">
                    <div class="footer_top_single">
                        <i class="fa fa-exchange"></i>
                        <h4>100% money back guarantee</h4>
                        <p>It's time to meet the Muppets on the Muppet Show tonight. And we know Flipper.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER-TOP-AREA:END -->
    

    
    <!-- FOOTER-AREA -->
    <div class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_text">
                        <p>&copy;2015 <a routerLink="/products">E-Comshop</a>. All rights reserved</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_right">
                        <ul>
                            <li><a ><img src="assets/FilesPage/images/mc.png" alt="" /></a></li>
                            <li><a ><img src="assets/FilesPage/images/visa.png" alt="" /></a></li>
                            <li><a ><img src="assets/FilesPage/images/crr.png" alt="" /></a></li>
                            <li><a ><img src="assets/FilesPage/images/disco.png" alt="" /></a></li>
                            <li><a ><img src="assets/FilesPage/images/bank.png" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER-AREA:END -->
</footer>
<!-- Entire FOOTER END -->