<div class="menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="categories">
                    <ul id="nav">
                        <li>Categories <i class="fa fa-bars"></i>
                            <ul>
                                <app-product-category-menu></app-product-category-menu>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <nav class="main-menu">
                   
                </nav>
                
                <div class="only-for-mobile">
                    <div class="col-xs-12">
                        <ul class="ofm">
                            <li class="m_nav"><i class="fa fa-bars"></i> Navigation</li>
                        </ul>

                        <!-- MOBILE MENU -->
                        <div class="mobi-menu">
                            <div id='cssmenu'>
                                <!-- the work on the mobile part -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-cart-status></app-cart-status>
            
        </div>
    </div>
</div>
