<div class="logo_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="logo">
                    <a routerLink="/products"><img src="assets/FilesPage/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-xs-12">
                <div class="search-area">
                    <form>
                        <div class="control-group">
                            <input class="search-field" placeholder="Search for a product..." />
                            <a class="search-button" href="#"></a>
                        </div>
                    </form>
                </div>
                <div class="logo_right">
                    <span><i class="fa fa-phone"></i></span>
                    <a href="tel:+212745689">CALL US FREE
                        <br/>+212 723 456 89</a>
                </div>
            </div>
        </div>
    </div>
</div>